[user]
	email = eduardo.gonzalezfisher@kaust.edu.sa
	name = Eduardo Gonzalez Fisher
[credential]
	helper = cache --timeout=3600
[core]
	editor = emacs -nw
	excludesFile = /home/gonzalea/.gitignore
[push]
	default = simple
[alias]
    st = status
    history = log --graph --decorate --oneline
    ls = ls-tree -r HEAD --name-only
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
#[http]
#	proxy = http://blog.eddie.cl:3128
[gui]
	editor = kwrite
